<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <script src="{% static "js/index.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <title>Document</title>
</head>
<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam enim veniam atque nisi modi libero ducimus molestiae nulla dolor quas eos totam, culpa itaque quos ad dignissimos inventore porro recusandae.</p>
</body>
</html>